
@{
    ViewBag.Title = "Index";
}

<h2>Cookie demo</h2>
<p>@ViewBag.CookieMessage</p>

<p id="counter" data-david="3">3</p>

<button id="btnIncrease">Öka räknare</button>
<button id="btnDecrease">Minska räknare</button>
